<% layout('layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-1">
            <h2> <b>
                    <%=showList.title%>
                </b></h2>
        </div>
        <div class="listing-card  show-card col-6 offset-1">
            <img src="<%=showList.image.url%>" class="card-img-top show-image" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <i>Own by <%=showList.owner.username%></i><br>
                </p>
                <p class="card-text">
                    <%=showList.description%><br>
                </p>
                <p class="card-text">
                    &#8377 <%=showList.price.toLocaleString("en-IN")%><br></p>
                <p class="card-text">
                    <%=showList.location%><br>
                </p>
                <p class="card-text">
                    <%=showList.country%><br>
                </p>

            </div>
            <% if(currUser && showList.owner._id.equals(currUser._id)){%>
                <div class="btns ">
                    <a href="http://localhost:8080/listings/<%=showList._id%>/edit"
                        class="btn btn-dark edt-btn mt-3">Edit </a>
                        <form action="/listings/<%= showList._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-dark offset-5 mt-3">DELETE</button>
                        </form>
                        <br>
                    </div>
                    <%}%>
                </div>
        <div class="col-8 offset-3 mb-3 margin-left">
            <hr>
            <% if(currUser){%>
            <h4>Leave a review</h4>
            <form action="/listings/<%=showList._id%>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <!-- <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" class="form-range" id="rating" name="review[rating]"> -->  
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                      
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comments</label>
                    <textarea name="review[comment]" rows="6" class="form-control" id="comment" required></textarea>
                    <div class="invalid-feedback">Please submit some comments for review</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr />
            <%}%>
            
            <p> All Reviews</p>
            <div class="row">
                <% for(review of showList.reviews){%>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%=review.author.username%></h5>
                            <p class="starability-result" data-rating= "<%=review.rating%>">
                            <p class="card-text">
                                <%=review.comment%>
                            </p>

                        </div>
                        <form action="/listings/<%=showList._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST"
                            class="mb-3">
                            <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                    </div>
                    <%}%>
            </div>
        </div>
    </body>
    </html>